body{
  font-family: 'Merriweather Sans', sans-serif;
  }

  #title {
   background-size: cover;
   background-image: url("https://www.hdnicewallpapers.com/Walls/Big/Computers/Superb_HD_Laptop_Background_Wallpaper.jpg");
   background-repeat: no-repeat;
 }

  a{
    text-decoration: none;
  }

  .about{
    width: 100%;
  }
.table{
  background-color: white;
}
  .gmap-iframe{
    width: 100%;
    background-color: rgb(211, 205, 205);
  }
  
  .container-fluid{
    padding: 3% 15%;
  }
  

.unique{
  color: black;
}

.products {
  display: inline-block;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  padding: 17px 44px;
  font-size: 20px;
  border-radius: 50px;
  color: yellow;
  cursor: pointer;
  z-index: 5;
  transition: all .4s ease-in-out;
  border: none;
  background: #79cefd
}
h1{
  
font-weight: 700;
font-size: 50px;
margin-bottom: 0.546875em;
line-height: 1.03125em;
color: white;
max-width: var(--width);
}
  
  h2{

    color: white;
    font-weight: bold;
  }
  
  h3{

    font-size: 1.5rem;
    color: white;
  
  }
  
  p{
    color: white;
    font-weight: none;
    font-size: 20px;
  }
  
  
hr{
  background-color: white;
  border: dotted black;
  color: black;
  border-bottom: none;
  width: 5%;
  margin: 100px auto 100px auto;
}

  .contactus{
    background-color: black;
  }

.class{
  color:white;
 }
  .products wow fadeInUp{
   background-color: black;
 }

 .nav-logo{
  width: 6%;
  text-align:left;
  padding-left: 12px;
  background-color: none;
}

  .navbar{
    background-color:rgb(211, 205, 205);
    border-radius: 30px;
    width: 100%;
    }
  
  .navbar-brand{
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .nav-item{
    padding: 0 18px 0 18px;
    color: white;
    margin-left: 50px;
  }
         
 .page-scroll{
    color: black;
    font-weight: bold;
  }
  
  .nav-link{
    font-size: 2 rem;
    font-weight: bold;
    color: white;
  }
  
.feature-box{
  padding: 2% 3%;
}
.middle{
      color: black;
      size: 50rem;
      line-height: 1.5rem;
      }
  .skills{
    background-color: blanchedalmond;
  }

  .skill0-img{
  width: 20%;
  float:left;
  padding-right: 30px;
  }

  .footer-img{
    width: 5%;
  }

  .skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
  }
  
  .download-button{
    margin: 5% 3% 5% 0;
  }
  
  .title-image{
    width: 60%;
    
  }
  
  .feature-box{
    text-align: center;
    padding: 5%;
    color: black;
  }
  
  .icon{
    color: black;
    margin-bottom: 1rem;
  }
  
  .icon:hover{
    color:darkgray;
  }
  
  .testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
  }
  
  .carousel-item{
    padding: 7% 15%;
  }
  
  .press-logo{
    width: 15%;
    margin: 20px 20px 50px;
  }
  
  .pricing-column{
    padding: 3% 2%;
  }
  .contactcontainer{
    background-color: rgb(211, 205, 205);
    padding: auto 50px auto 50px;
  }

  .card{
    color:black;
  }
  .card-body{
    background-color: white;
  }

  .card-text{
    color:black;
  }

 
  .gmap-iframe{
    width:100%;
  }

  .cursive{
    color:black;
  }

.fab{
  color: black;
}

.footer-container{
  background-color: rgb(211, 205, 205);
}
.card-body-two{
  border-radius: 60px;
  background-image: linear-gradient(to right bottom, rgb(6, 0, 10) 0%, rgb(6, 6, 7) 100%);
}

.inputform{
  border-radius: 30px;
}

.submitbutton{
  border-radius: 30px;
  text-align: center;
  margin-left: 150px;
  margin-top: 50px;
}

.text-white{
  font-size: 25px;
}

.card{
  padding: auto 100px auto 100px;
}

a:hover{
  color: rgb(56, 166, 199);
}





  #contactustable{
    width:100%;
    height: 200px;
    color: black;
    background-color:rgb(211, 205, 205);
  }
  
  #features{
    padding: 7% 15%;
  }
  
  #testimonials{
    text-align: center;
    background-color: rgb(211, 205, 205);
    color: white;
    width: 100%;
  }
  
  #press {
    background-color: black;
    text-align: center;
     }
  
  #pricing{
    padding: 10px 100px 10px 150px;
    text-align: center;
  }

  #location{
    background-color:rgb(211, 205, 205);
  }

  #clients{
    background-color: none;
  }

  .btn {
    background: black;
    background-image: -webkit-linear-gradient(top, black, black);
    background-image: -moz-linear-gradient(top, black, black);
    background-image: -ms-linear-gradient(top, black, black);
    background-image: -o-linear-gradient(top, black, black);
    background-image: linear-gradient(to bottom, black, black);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: grey;
    background-image: -webkit-linear-gradient(top, grey, white);
    background-image: -moz-linear-gradient(top, grey, white);
    background-image: -ms-linear-gradient(top, grey, white);
    background-image: -o-linear-gradient(top, grey, white);
    background-image: linear-gradient(to bottom, grey, white);
    text-decoration: none;
  }